@using SAModels
@model ShoppingCart
<partial name="~/Views/Shared/_ErrorToast.cshtml" />
<div class="container bg-light border p-3">
    <div class="container align-items-center" style="max-width: 70%">
        <h4 class="d-flex justify-content-between mb-3">
            <span class="text-primary">Your Cart</span>
        </h4>
        <ul class="list-group mb-3">
            @if (Model.Items != null && Model.Items.Count > 0) {
                @foreach (LineItem item in Model.Items) {
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <button type="button" class="btn btn-default" aria-label="Close"><i class="bi bi-trash"></i></button>
                        <h6 class="my-0">@item.Product.Name</h6>
                        <span class="text">@string.Format("x {0}", item.Quantity)</span>
                        <span class="text-muted">@string.Format("${0:N2}", item.Product.Price)</span>
                    </li>
                }
            } else {
                <li class="list-group-item d-flex align-items-center justify-content-center lh-sm">
                    <h4> Your cart is empty</h4>
                </li>
            }
            <li class="list-group-item d-flex justify-content-end">
                <span style="margin-right: 10px">Total</span>
                <strong>@string.Format("${0:N2}", Model.TotalAmount)</strong>
            </li>
        </ul>
        <div class=" d-flex justify-content-between">
            <button class="btn btn-danger m-1"> <i class="bi bi-trash"></i> Clear Cart</button>
            <button class="btn btn-primary m-1"> <i class="bi bi-cart3 mx-auto mb-1"></i> Complete Purchase</button>
        </div>
    </div>
</div>
